body {
    background-image: url("fichiers-php-html/images/image.png");
    scroll-behavior: smooth;
    text-overflow: ellipsis;
}

h1 {
    background-color: green;
    color: white;
    text-align: center;
}